<h1>RssFeed Item</h1>

<table class="table table-striped table-bordered">
	<tr>
		<th>title</th>
		<th>link</th>
		<th>description</th>
		<th>guid</th>
		<th>pubDate</th>
	</tr>
	<% @rss.items.each do|i| %>
		<tr>
			<td><%=  "#{i.title}" %></td>
			<td><%=  "#{i.link}" %></td>
			<td><%=  "#{i.description}" %></td>
			<td><%=  "#{i.guid}" %></td>
			<td><%=  "#{i.pubDate}" %></td>
		</tr>
	<% end %>
</table>
